= form_for(@season, html: { class: 'form-horizontal' }) do |f|
  - if @season.errors.any?
    .alert.alert-block.alert-error
      %p.side-padded
        %strong
          = pluralize(@season.errors.count, "error")
          prohibited this season from being saved:
        %ul
          - @season.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :years, class: 'control-label'
    .controls
      = f.text_field :years
  .form-actions
    = f.submit class: 'btn btn-primary'
