%h1 Listing seasons
%table
  %tr
    %th Years
    %th
    %th
    %th
  - @seasons.each do |season|
    %tr
      %td= season.years
      %td= link_to 'Show', season
      %td= link_to 'Edit', edit_season_path(season)
      %td= link_to 'Destroy', season, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Season', new_season_path
