= form_for(@ticket, html: { class: 'form-horizontal' }) do |f|
  - if @ticket.errors.any?
    .alert.alert-block.alert-error
      %p.side-padded
        %strong
          = pluralize(@ticket.errors.count, "error")
          prohibited this ticket from being saved:
        %ul
          - @ticket.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :game_id, class: 'control-label'
    .controls
      = f.text_field :game_id
  .control-group
    = f.label :ticket_holder_id, class: 'control-label'
    .controls
      = f.text_field :ticket_holder_id
  .form-actions
    = f.submit class: 'btn btn-primary'
