.page-header
  %h2 Listing Tickets
%table.table.table-striped
  %tr
    %th Game
    %th Ticket holder
    %th
    %th
  - @tickets.each do |ticket|
    %tr
      %td= ticket.game_id
      %td= ticket.ticket_holder_id
      %td= link_to 'Show', ticket
      %td= link_to 'Edit', edit_ticket_path(ticket)
%br/
= link_to 'New Ticket', new_ticket_path
