<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @ticket.game_id %>
</p>

<p>
  <b>Ticket holder:</b>
  <%= @ticket.ticket_holder_id %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
