<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :season_id %><br />
    <%= f.text_field :season_id %>
  </div>
  <div class="field">
    <%= f.label :puck_drop %><br />
    <%= f.datetime_select :puck_drop %>
  </div>
  <div class="field">
    <%= f.label :opponent %><br />
    <%= f.text_field :opponent %>
  </div>
  <div class="field">
    <%= f.label :preseason %><br />
    <%= f.check_box :preseason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
