= form_for(@game, html: { class: 'form-horizontal' }) do |f|
  - if @game.errors.any?
    .alert.alert-block.alert-error
      %p.side-padded
        %strong
          = pluralize(@game.errors.count, "error")
          prohibited this game from being saved:
        %ul
          - @game.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :season_id, class: 'control-label'
    .controls
      = f.select :season_id, @seasons.collect { |s| [ s.years, s.id ] }
  .control-group
    = f.label :puck_drop, class: 'control-label'
    .controls
      = f.datetime_select :puck_drop, {}, class: 'input-small'
  .control-group
    = f.label :opponent, class: 'control-label'
    .controls
      = f.text_field :opponent
  .control-group
    = f.label :preseason, class: 'control-label'
    .controls
      = f.check_box :preseason
  .form-actions
    = f.submit class: 'btn-primary'
