<h1><%= @season.years %> Games</h1>

<table>
  <tr>
    <th>Puck Drop</th>
    <th>Opponent</th>
    <th>Preseason?</th>
    <th>Seats Available</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.puck_drop.to_s(:pretty), game %></td>
    <td><%= game.opponent %></td>
    <td><%= 'Y' if game.preseason? %></td>
    <td><%= game.available_tickets.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
