%h1 Listing ticket_holders
%table
  %tr
    %th Season
    %th Name
    %th
    %th
    %th
  - @ticket_holders.each do |ticket_holder|
    %tr
      %td= ticket_holder.season_id
      %td= ticket_holder.name
      %td= link_to 'Show', ticket_holder
      %td= link_to 'Edit', edit_ticket_holder_path(ticket_holder)
      %td= link_to 'Destroy', ticket_holder, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Ticket holder', new_ticket_holder_path
