.page-header
  %h2 Ticket Holders
%table.table.table-striped
  %tr
    %th Season
    %th Name
    %th
    %th
  - @ticket_holders.each do |ticket_holder|
    %tr
      %td= ticket_holder.season_id
      %td= ticket_holder.name
      %td= link_to 'Show', ticket_holder
      %td= link_to 'Edit', edit_ticket_holder_path(ticket_holder)
%br/
= link_to 'New Ticket Holder', new_ticket_holder_path
