<h1>Listing ticket_holders</h1>

<table>
  <tr>
    <th>Season</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_holders.each do |ticket_holder| %>
  <tr>
    <td><%= ticket_holder.season_id %></td>
    <td><%= ticket_holder.name %></td>
    <td><%= link_to 'Show', ticket_holder %></td>
    <td><%= link_to 'Edit', edit_ticket_holder_path(ticket_holder) %></td>
    <td><%= link_to 'Destroy', ticket_holder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket holder', new_ticket_holder_path %>
