<p id="notice"><%= notice %></p>

<h1><%= "#{@ticket_holder.name}'s Games in #{@ticket_holder.season.years}" %></h1>

<table>
  <tr>
    <th>Puck Drop</th>
    <th>Opponent</th>
    <th>Preseason?</th>
    <th>Tickets</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.puck_drop.to_s(:pretty), game %></td>
    <td><%= game.opponent %></td>
    <td><%= 'Y' if game.preseason? %></td>
    <td><%= game.tickets_belonging_to(@ticket_holder).count %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_ticket_holder_path(@ticket_holder) %> |
<%= link_to 'Back', ticket_holders_path %>
