!!!
%html
  %head
    %title PredsTix
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .topbar
      .container.fixed
        %h3
          = link_to 'PredsTix', root_path, :class => 'logo'
        %ul
          %li
            = link_to 'Games', root_path
        %ul.nav.secondary-nav
          %li.menu
            = link_to 'Ticket Holders', '#', :class => 'menu'
            %ul.menu-dropdown
              - @ticket_holders.each do |ticket_holder|
                %li= link_to(ticket_holder.name, ticket_holder)
    .margined-top
      .container
        = yield
